body{
    font: 13px/20px Tahoma, sans-serif;
    color:#404040 ;
    /* background: linear-gradient(to right, #516395, #614385); */
}
.loginForm{
    text-align: center;
    margin:0px auto;
    padding: 20px 20px 20px;
    width: 400px ;
    height: auto;
    background: #f3f3f3;
    border-radius: 3px;
    border: 2px solid rgb(77, 77, 77);
    
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}


.header{
    padding: 40px 30px 10px 30px;
    margin: -20px -20px -40px;
    line-height: 34px;
    font-size: 20px;
    /* font-weight: bold; */
    color: #555;
    text-align: left;
    border: 1px solid #555;
    background: rgb(173, 173, 173);

}
 .content{
    padding: 60px 30px 5px 30px;
    margin: -20px -20px -40px;
    line-height: 34px;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
 }

 .content .input{
    width: 188px;
    padding: 5px 10px;
    margin: 5px 10px 20px;
    font-size: 14px;
    background: #fff;
	border: 1px solid #fff;
    border-radius: 5px;
 }

 .content .input:hover{
    background: #e3f2fd;
    color: #5940e9;
}

.content .input:focus{
    /* background: rgba(152, 92, 221, 0.308); */
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    
}

.footer {
    margin: 40px 10px 10px;
    padding: 25px 30px 0px 30px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

}

.login{
    float: none;
    padding: 11px 25px;
    margin-bottom: 20px;
    /* color: #fff; */
	/* text-shadow: 0px 1px 0 rgba(0,0,0,0.25);  */
    /* background: #ac47e7; */
	/* border: 2px solid #9042a8; */
	border-radius: 5px;
	cursor: pointer;
}

.login:hover{
    /* background: #9042a8; */
	border: 2px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.register{
    text-align: left;
    margin: 10px 20px -40px;
    /* color: #000; */
    text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
    font-weight: 300;
}

/* .register:hover{
    color: #ac47e7;
}    */



